---
layout: base
---
<div class="row">

    <div class="col-md-{% if page.toc %}8{% else %}12{% endif %}">

        {% if page.heading %}
            <header>
                <h1>
                    {{page.heading}}
                    {% if page.subheading %}
                        <small>{{ page.subheading }}</small>
                    {% endif %}
                </h1>
            </header>
        {% endif %}


        {{ content | replace:'<table>','<table class="table table-bordered">' }}

    </div>
    {% if page.toc %}
        <div class="col-md-4">

            <nav class="col-xs-3 bs-docs-sidebar fixed">

                    {% include {{page.toc}} %}

            </nav>

        </div>
    {% endif %}
</div>
